.white-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
  background-color: white;
}

.white-scroll::-webkit-scrollbar {
  // width: 1px;
  // background-color: #f5f5f5;
  width: 0px;
  background: transparent;
}

.white-scroll::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 100px;

  .scroll-management {
    width: 300px;
  }
}

.ant-input-noborder {
  .ant-input {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    font-variant: tabular-nums !important;
    list-style: none !important;
    -webkit-font-feature-settings: "tnum" !important;
    font-feature-settings: "tnum", "tnum" !important;
    position: relative !important;
    display: inline-block !important;
    width: 100% !important;
    height: 32px !important;
    padding: 10px 0px !important;
    color: rgba(0, 0, 0, 0.65) !important;
    font-size: 14px !important;
    line-height: 1.5 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 0px solid #d9d9d9 !important;
    border-radius: 4px !important;
    -webkit-transition: all 0.3s !important;
    transition: all 0.3s !important;
    &:hover {
      border: 0px solid #d9d9d9 !important;
    }
    &:focus {
      border: 0px solid #d9d9d9 !important;
    }
  }
}

.input-class {
  .ant-input {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    font-variant: tabular-nums !important;
    list-style: none !important;
    -webkit-font-feature-settings: "tnum" !important;
    font-feature-settings: "tnum", "tnum" !important;
    position: relative;
    display: inline-block !important;
    width: 100% !important;
    height: 32px;
    padding: 4px 30px !important;
    color: rgba(0, 0, 0, 0.65) !important;
    font-size: 14px !important;
    line-height: 1.5 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 4px !important;
    -webkit-transition: all 0.3s !important;
    transition: all 0.3s !important;
  }
}
// .ant-input {
//   &:hover {
//     border: 0px solid #d9d9d9 !important;
//   }
//   &:focus {
//     border: 0px solid #d9d9d9 !important;
//     --antd-wave-shadow-color: white;
//   }
// }
